* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: moccasin;
    text-align: center;
    padding: 20px;
}

a:link {
    transition: color 1s;
}

img {
    opacity: 0.25;
    transition: opacity 500ms;
    padding-top: 100px;
}

img:hover {
    opacity: 1;
}
