* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: moccasin;
    text-align: center;
    padding: 20px;
}
#hat {
    align-content: center;
    position: relative;
    width: 10%;
    left:7%;
    height: auto;
    transition: all 2s ease-in;
    z-index: 1;
}

#platypus {
    align-content: center;
    position: relative;
}

#hat.slide {
    transform: translateY(305%);
}