* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    background-image: url(../images/Top.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 350px;

}

nav#menu {
    width: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    background-color: rgba(0, 0, 0, 0.100);
}

img#logo {
    display: block;
    margin: auto;
    height: auto;
    padding-top: 200px;
    width: 80vw;
    animation-name: Intro;
    animation-duration: 1.5s;
}

@keyframes Intro {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

a.wow {
    padding: 3vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    font-size: 2vw;
    
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

a.wow:hover {
    color: purple;
    background-color: white;
    transition: all .2s ease-in;
}

#bike {
    height: 10vw;
    width: auto;
    animation: 3s linear infinite;
    animation-name: Bike;
    animation-duration: 10s;
}

@keyframes Bike {
    0% {
        transform: translateX(-90vw);
    }
    100% {
        transform: translateX(100vw)
    }
}

/*
@media screen and (min-width:375px) {
    nav div{
    }
}
@media screen and (min-width:765px) {
    nav div{
    }
}

*/

body {
    background-color: #EFF1ED;
    overflow-x: hidden;
}

section.Place {
    background-color: rgb(255, 255, 255);
    background-image: url(../images/Background.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 10vw;
    border-radius: 10px;
}

@media screen and (min-width:300px) {
    section img {
        width: 50vw;
    }

    h1 {
        font-size: 30px;
    }

    section {
        margin-left: 0vw;
        margin-right: 0vw;
    }
    .container {
        font-size: 2.8vw;
    }
}

@media screen and (min-width:600px) {
    p {
        margin: 2vw;
    }
        .container {
            font-size: 18px;
        }
}

@media screen and (min-width:768px) {
    section img {
        width: 400px;
    }
       
    .container {
                font-size: 20px;
            }
    
}

@media screen and (min-width:1000px) {
    h1 {
        font-size: 50px;
    }

    section {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

@media screen and (min-width:1600px) {

    h1 {
        font-size: 55px;
    }

    section {
        margin-left: 20vw;
        margin-right: 20vw;
    }
}

.img {
    height: auto;
    max-width: 700px;
    border-radius: 40px;
    justify-self: center;
    padding: 20px;
}

.content {
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.top {
    padding: 2vw;
}

p {
    padding-left: 4vw;
    padding-right: 4vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.1rem;
}

.center {
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

.side {
    margin: auto;
}

.mid {
    display: block;
    margin: auto;
    width: 75%;
}

.mid:hover {
    transform: scale(125%);
    transition: all 0.5s ease-in;
}

#Checkbox {
    margin: auto;
    width: 50%;
    background-image: url(../images/paper.jpg);
    background-size: cover;
    background-color: rgb(255, 242, 207);
    background-blend-mode: luminosity;
    border-radius: 10px;
    padding: 10px;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 2vw;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

    footer {
        background-color: rgb(116, 116, 116);
        color: white;
        padding: 5vw;
        text-align: center;
    }