*{
    box-sizing: border-box;
    margin-top: 10px;
    padding: 0px;
}
body{
    background-color: lemonchiffon;
    text-align: center;
}  
li {
    display: grid;
}
a.link {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkred;
}
a.link:hover {
    color: salmon;
}