*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: cornsilk;
}

header {
    background-color: #333;
}

/* The navigation menu */
.navbar {
    overflow: hidden;
}

/* Navigation links */
.navbar a {
    float: left;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
}

/* The subnavigation menu */
.subnav {
    float: left;
    overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
    font-size: 25px;
    border: none;
    outline: none;
    color: white;
    padding: 24px 26px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Add a background color to navigation links on hover */
.navbar a:hover,
.subnav:hover .subnavbtn {
    background-color: #eee;
    color: black;
    transition: ease-in 0.15s;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #eee;
    width: 100%;
    z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
    float: left;
    color: black;
    text-decoration: none;
}

/* Add a black background color on hover */
.subnav-content a:hover {
    background-color: #333;
    color: #eee;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    display: block;
}
